body{
	margin: 0;
	position: absolute;
	overflow-x: hidden;
}

.nobutton {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.cat-list{
	min-height: 200px; 
	background-color: #f7f5f5; 
	width: 250px; 
	position: absolute; 
	margin-top: -5vh;
}

.cat-title{
	margin-left: 4.5vw; 
	margin-top: 2vh; 
	color: blue; font-family: italic;
}

.cat-list a{ 
	text-decoration: none;
}

.cat-elemnt{
	padding: 5px;
}

.my_content{
	margin-left: 15vw;
	width: 85vw;
	min-height: 90vh;
}

.goods{
	max-width: 70vw;
	margin-left: 10vw;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: left;
}

.my_tittle{
	margin-left: 15vw;
	margin-top: 5vh;
}

.my_form{
	margin-left: 10vw;
	margin-top: 5vh;
}

.secret{
	height: 1px;
	width: 1px;
	opacity: 0;
}